h1, div {text-align: center;}

#lista{ background-color: red;
        color: blanchedalmond;

        
        
}

ol:hover {background-color: black; }

ol:active {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

ul, ol {list-style: none;}